@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using Do_An_E_Commerce_BHX.Models

@if (Request.IsAuthenticated)
{
    var manager = Context.GetOwinContext().GetUserManager<ApplicationUserManager>();
    var user = manager.FindById(User.Identity.GetUserId());

    var displayName = !string.IsNullOrWhiteSpace(user?.FullName)
        ? user.FullName
        : User.Identity.GetUserName();

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + displayName + "!", "Index", "Manage", routeValues: null,
                         htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>

            <li>
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                    Log off
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Register", "Register", "Account", routeValues: null,
                     htmlAttributes: new { id = "registerLink", @class = "nav-link" })
        </li>

        <li>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null,
                     htmlAttributes: new { id = "loginLink", @class = "nav-link" })
        </li>
    </ul>
}